@using Blockexplorer.Models
@model Blockexplorer.Models.IndexModel
@{
    ViewData["Title"] = "Obsidian Blockexplorer";
}

<div class="page-content">
    <div class="home-section home-first">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="home-search">
                        <img src="images/logo.png" style="width: 260px"/>
                        <br/>
                        <br />
                        <br/>
                        <br />
                        <form method="get" action="@Url.Action("Index", "Search")">
                            <div class="input-group" role="search">
                                <input type="text" class="form-control input-lg" name="id" placeholder="Search blocks, transactions or addresses" minlength="1" required="required">
                                <span class="input-group-btn">
                                    <button class="btn btn-search" type="submit"><span class="glyphicon glyphicon-search"></span> Search</button>
                                </span>
                            </div>
                        </form>
                        <p>
                            @if (@Model.LastBlock != null)
                            {
                                <small>Last block: <a href="@Url.Action("Index", "Block", new {id = Model.LastBlock.Hash})">@Model.LastBlock.Height</a> - Mainnet</small><br />
                                <span style="font-size: 10px;">Did you know? You can enter 'OP_RETURN' to search for unspendable coins.</span>


                            }
                            else
                            {
                                <small>The Blockexplorer node seems to be offline - Mainnet</small>
                            }
                        </p>
                        <p>Get ready for the Obsidian relaunch on 4th December 2017<br /><img src="~/images/bombs_fireworks-256.png" /><br /> and the Obsidian Messenger release at xmas!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
