@{
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}

<div class="container">
    <div class="page-content">
        <div class="text-center notFound">
            <a href="@Url.Action("Index", "Home")"><img src="/images/404.png" style="height: 240px; width: 240px"></a>
        </div>
        <div class="text-center">
            This content is not available.<br>
        </div>
        <div class="goback">
            <a href="@Url.Action("Index", "Home")" class="btn-2 ">Go back</a>
        </div>

    </div>
    <div class="footer-push"></div>
</div>