@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="page-content">
        <div class="text-center notFound">
            <a href="@Url.Action("Index", "Home")"><img src="/images/404.png" style="height: 100px; width: 100px"></a>
        </div>
        <div class="text-center">
            We are sorry, we could not find this item.<br>
            <a href="@Url.Action("Index", "Home")">Search again</a><br />
            Caution: The address index is currently lagging, some existing addresses might not be found yet!
        </div>
    </div>
</div>